.checkout-container {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    width: clamp(320px, 80vw, 1000px);
    background-color: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px lightgray;
}

.checkout-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.checkout-total {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.checkout-submit {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.order-submit-btn {
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: #6366f1;
    padding: 6px 8px;
}

.order-submit-btn:hover {
    background-color: #4338ca;
}

.order-submit-btn:active {
    background-color: #3730a3;
}