.product-card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 10px lightgray;
    padding: 18px;
}

.card-image {
    align-self: center;
    height: 150px;
    width: 164px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

.product-card > div {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.product-price {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.qty-input {
    display: grid;
    grid-template-columns: repeat(3, 25px);
}

.qty-btn {
    border: none;
    border-radius: 4px;
    background-color: #f3f4f6;
    height: 25px;
    font-size: 18px;
}

.qty-btn:hover {
    background-color: #e5e7eb;
}

.qty-btn:active {
    background-color: #d1d5db;
}

.qty {
    text-align: center;
    font-size: 16px;
}

.add-cart-btn {
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: #6366f1;
    padding: 6px 8px;
}

.add-cart-btn:hover {
    background-color: #4338ca;
}

.add-cart-btn:active {
    background-color: #3730a3;
}
