.product-card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 5px lightgray;
    padding: 18px;
}

.card-image {
    align-self: center;
    height: 150px;
    width: 164px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

.product-card > div {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.product-price {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.qty-input {
    max-width: 40px;
}