#root {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 12px 0px;
}

.nav-items {
    display: flex;
    justify-content: flex-start;
    width: clamp(320px, 80vw, 1000px);
}

.nav-links {
    display: flex;
    gap: 12px;
}

a {
    color: #d1d5db;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 5px;
}

a:hover {
    background-color: #374151;
    color: white;
}

a.active {
    background-color: #111827;
    color: white;
}

.content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1000px;
}